{% extends 'base.html.twig' %}

{% block title %}Booking{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row justify-content-around">
            <div class="row col-sm-4 justify-content-around">
                <h1 class="mx-4">Consultation de la réservation</h1>

                <table class="table">
                    <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ booking.id }}</td>
                        </tr>
                        <tr>
                            <th>StartDate</th>
                            <td>{{ booking.startDate ? booking.startDate|date('Y-m-d H:i:s') : '' }}</td>
                        </tr>
                        <tr>
                            <th>ReturnDate</th>
                            <td>{{ booking.returnDate ? booking.returnDate|date('Y-m-d H:i:s') : '' }}</td>
                        </tr>
                    </tbody>
                </table>

                <a class="btn btn-primary m-4 w-25" href="{{ path('booking_index') }}">Retour à la liste</a>

                <a class="btn btn-primary m-4 w-25" href="{{ path('booking_edit', {'id': booking.id}) }}">Modifier</a>

                {{ include('booking/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
